h1 User Profile

h4 Name:
= @user.name

h4 Email:
= @user.email

h4 Intro:
= @user.intro

h4 Avatar:
= @user.avatar

br
br
= link_to "Edit your profile", edit_user_path(@user)
br
= link_to "Back to index", restaurants_path