.header{
  height: 50px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.header .alert {
  color: red;
  height: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.header .notice {
  color: blue;
  height: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.welcome_message {
  margin-left: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  text-align: center;
  line-height: 50px;
}


.login_menu {
  float: right;
  margin-right: 10px;
}

.login_menu li{
  float: left;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;  
}

.main_container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.yield_container {
  margin-left: 20px;
}

.restaurant_form {
  margin-top: 100px;
}

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}